# Ejercicio - Regresión lineal

Para prácticar el Análisis Exploratorio de Datos, vamos a usar una versión modificada del dataset The Movies Dataset que contiene información sobre películas, información relacionada con el éxito de dichas películas en cuanto a popularidad y venta de entradas.

El dataset se encuentra en el archivo data/movies.csv, y consta de las siguientes columnas:

    belongs_to_collection (franquicia): Nombre de la franquicia a la cual pertenece la película.
    budget (presupuesto): Presupuesto de la película en dólares.
    genres (genero): Género de la pelicula.
    homepage (pagina_web): Página Web oficial de la película.
    imdb_id: ID de la película en IMDB.
    original_language (lenguaje): El lenguage original en el que se rodó la película.
    overview: Descripción de la película.
    popularity (popularidad): Puntuación de Popularidad.
    poster_path (poster): url del poster de la película
    production_companies (productores): Lista de compañias que produjeron la pelicula
    production_countries (pais): Pais de produccion de la película
    release_date (fecha_estreno): Fecha del estreno  de la película
    revenue (ventas): Ventas de entradas en dólares de la película.
    runtime (duracion): Duración en minutos de la película.
    status (estado): Estado de la película (estrenada, en producción, etc).
    tagline: Frase descriptiva de la película.
    title (titulo): Título de la película.
    vote_average (puntuacion): Puntuación media de la película.
    vote_count (n_votos): Número de votos.

Para este ejercicio la variable objetivo es las ventas en taquilla de la película (la columna venta)

In [14]:
import pandas as pd

import numpy as np

In [15]:
pelis = pd.read_csv("movies.csv")

In [16]:
pelis.head()

,franquicia,presupuesto,genero,pagina_web,imdb_id,lenguaje,popularidad,productores,pais,fecha_estreno,ventas,duracion,estado,titulo,puntuacion,n_votos
0,Father of the Bride Collection,NaN,Comedy,NaN,tt0113041,en,8.387519,Sandollar Productions,United States of America,1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0
1,NaN,NaN,Drama,NaN,tt0112749,en,0.894647,Miramax,South Africa,1995-12-15,676525.0,106.0,Released,"Cry, the Beloved Country",6.7,13.0
2,Friday Collection,3500000.0,Comedy,http://www.newline.com/properties/friday.html,tt0113118,en,14.569650,New Line Cinema,United States of America,1995-04-26,28215918.0,91.0,Released,Friday,7.0,513.0
3,NaN,NaN,Comedy,NaN,tt0115697,en,8.963037,Paramount Pictures,United States of America,1996-02-01,32.0,87.0,Released,Black Sheep,6.0,124.0
4,NaN,12000000.0,Comedy,NaN,tt0116483,en,9.592265,Universal Pictures,United States of America,1996-02-16,41205099.0,92.0,Released,Happy Gilmore,6.5,767.0

Seleccionar las columnas numéricas sólo. Eliminar los valores nulos y reemplazarlos con 0
(pista, usar los metodos select_dtypes y fillna)

In [17]:
pelis = pelis.select_dtypes(include= [np.number])
pelis = pelis.fillna(0)
pelis.head(10)

   presupuesto  popularidad       ventas  duracion  puntuacion  n_votos
0          0.0     8.387519   76578911.0     106.0         5.7    173.0
1          0.0     0.894647     676525.0     106.0         6.7     13.0
2    3500000.0    14.569650   28215918.0      91.0         7.0    513.0
3          0.0     8.963037         32.0      87.0         6.0    124.0
4   12000000.0     9.592265   41205099.0      92.0         6.5    767.0
5          0.0     0.540436     209935.0      86.0         3.8      2.0
6   31000000.0     6.499680  185260553.0     117.0         6.7    303.0
7   52000000.0    18.761467  355237933.0     140.0         7.3   1637.0
8    2000000.0    11.528147    1275000.0      83.0         6.8     28.0
9          0.0     3.620388    3174695.0     119.0         7.6     71.0

Crear un modelo de regresion lineal (con scikit-learn) y entrenarlo en el dataset numéricos. La variable objetivo es ventas
Asignar una columna nueva con las predicciones al dataset original llamada ventas_pred

In [19]:
from sklearn.linear_model import LinearRegression

In [38]:
modelo = LinearRegression()

In [39]:
variables = pelis.columns
variables = list(variables[:2]) + list(variables[3:])
#pelis_numericas.drop(columns=variable_objetivo).columns
variables

['presupuesto', 'popularidad', 'duracion', 'puntuacion', 'n_votos']

In [40]:
modelo.fit(X=pelis[variables], y= pelis["ventas"])

LinearRegression()

In [50]:
pelis["ventas_pred"] = modelo.predict(pelis[variables]) / 1000000
pelis["ventas"] = pelis["ventas"] / 1000000
pelis.head(10)

,presupuesto,popularidad,ventas,duracion,puntuacion,n_votos,ventas_pred,division
0,0.0,8.387519,76.578911,106.0,5.7,173.0,13.506242,5.669890
1,0.0,0.894647,0.676525,106.0,6.7,13.0,5.503581,0.122925
2,3500000.0,14.569650,28.215918,91.0,7.0,513.0,38.766797,0.727837
3,0.0,8.963037,0.000032,87.0,6.0,124.0,9.331852,0.000003
4,12000000.0,9.592265,41.205099,92.0,6.5,767.0,67.376091,0.611569
5,0.0,0.540436,0.209935,86.0,3.8,2.0,2.332946,0.089987
6,31000000.0,6.499680,185.260553,117.0,6.7,303.0,61.836223,2.995988
7,52000000.0,18.761467,355.237933,140.0,7.3,1637.0,174.696348,2.033459
8,2000000.0,11.528147,1.275000,83.0,6.8,28.0,4.881519,0.261189
9,0.0,3.620388,3.174695,119.0,7.6,71.0,9.708975,0.326986

In [43]:
pelis["ventas"]/pelis["ventas_pred"]

0       5.669890
1       0.122925
2       0.727837
3       0.000003
4       0.611569
          ...
1344    0.000000
1345   -0.000000
1346    0.000000
1347    0.000000
1348   -0.000000
Length: 1349, dtype: float64

In [44]:
pelis["division"] = pelis["ventas"]/pelis["ventas_pred"]
pelis.head(10)

,presupuesto,popularidad,ventas,duracion,puntuacion,n_votos,ventas_pred,division
0,0.0,8.387519,76578911.0,106.0,5.7,173.0,1.350624e+07,5.669890
1,0.0,0.894647,676525.0,106.0,6.7,13.0,5.503581e+06,0.122925
2,3500000.0,14.569650,28215918.0,91.0,7.0,513.0,3.876680e+07,0.727837
3,0.0,8.963037,32.0,87.0,6.0,124.0,9.331852e+06,0.000003
4,12000000.0,9.592265,41205099.0,92.0,6.5,767.0,6.737609e+07,0.611569
5,0.0,0.540436,209935.0,86.0,3.8,2.0,2.332946e+06,0.089987
6,31000000.0,6.499680,185260553.0,117.0,6.7,303.0,6.183622e+07,2.995988
7,52000000.0,18.761467,355237933.0,140.0,7.3,1637.0,1.746963e+08,2.033459
8,2000000.0,11.528147,1275000.0,83.0,6.8,28.0,4.881519e+06,0.261189
9,0.0,3.620388,3174695.0,119.0,7.6,71.0,9.708975e+06,0.326986

In [47]:
pelis.dtypes

presupuesto    float64
popularidad    float64
ventas         float64
duracion       float64
puntuacion     float64
n_votos        float64
ventas_pred    float64
division       float64
dtype: object

In [48]:
pelis[["ventas", "ventas_pred", "division"]]

          ventas   ventas_pred  division
0     76578911.0  1.350624e+07  5.669890
1       676525.0  5.503581e+06  0.122925
2     28215918.0  3.876680e+07  0.727837
3           32.0  9.331852e+06  0.000003
4     41205099.0  6.737609e+07  0.611569
...          ...           ...       ...
1344         0.0  3.116096e+06  0.000000
1345         0.0 -2.244229e+05 -0.000000
1346         0.0  3.565685e+06  0.000000
1347         0.0  4.940244e+06  0.000000
1348         0.0 -4.705404e+05 -0.000000

[1349 rows x 3 columns]